#search_cont {
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

.serch-base {
    margin-top: 22px;
    padding-right: 0px;
    color: black;
}

.nav-text {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: black;
}

#recipe {
    background-color: white;
}

.container {
    margin-left: 310px !important;
}

.btn_style {
    margin-top: 10px;
    margin: 0 auto !important;
    height: 25px !important;
    line-height: 25px !important;
    padding: 0 10px !important;
    font-size: 10px !important;
}

.btn_style_desc {
    margin-top: 20px;
    position: absolute;
    top: 50%;
}

.nav-wrapper {
    background: #e1e4e3;
}

li {
    color: black;
}

.wrapper {
    text-align: center;
}

.brand-logo {
    font-family: 'Indie Flower', cursive;
    color: black !important;
    font-size: 50px !important;
}

#img-logo {
    width: auto;
    height: 90px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url(/static/images/cook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.collapsible-body {
    background-color: #f7f5f8;
}


main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0px !important;
}

.serch-base {
    margin-top: 22px;
    padding-right: 0px;
}

.brand-logo {
    padding-left: 20px !important;
}

.search-icon {
    background: rgb(35, 152, 136);
    color: white;
}

.sidenav li>a>i {
    margin: 0 5px 0 0 !important;
}

#search {
    padding-left: 0px;
}