<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_cuisine')}}" class="brand-logo">Recipes Book</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_cuisine')}}">Cusines</a></li>
                    <li><a href="{{url_for('get_recipe')}}">Recipes</a></li>
                    <li><a href="#">Serch</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('get_cuisine')}}">Cusines</a></li>
                    <li><a href="{{url_for('get_recipe')}}">Recipes</a></li>
                    <li><a href="#">Serch</a></li>
                </ul>
            </div>
        </nav>
        </div>
        </nav>
    </header>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>