{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 recipes">
            <h3>Recipe Found</h3>
            <div class="introduction">
                <p>The app display searching recipes. User can add a new recipe by clicking "add recipe". </p>
            </div>
            <div class="row">
                <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn btn_small">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </a>
            </div>
        </div>
    </div>
    <ul class="collapsible">
        <li id=recipe_list>
            <div class="recip_title">
                <a id=recipe_name
                    href="{{ url_for('recipe_description', recipe_id=recipe._id)}}"><strong>{{recipe.recipe_name}}</strong></a>
            </div>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>
                <img id=img-recipe src="{{recipe.recipe_image_url}}" alt="{{recipe.recipe_name}}">
            </div>
            <div class="collapsible-body"><span>
                    Add by: <strong>{{recipe.user_name}}</strong> &emsp; Cooking Time: {{recipe.cooking_time}}
                    <hr>
                    {{recipe.recipe_description}}
                </span>
                <div class=" button-cusine">
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}"
                        class="waves-effect waves-light btn btn_small btn_style blue">Edit Recipe
                        <i class="material-icons right">edit</i></a>
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}"
                        class="waves-effect waves-light btn btn_small btn_style red">Delete Recipe
                        <i class="material-icons right">delete_forever</i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}