{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Recipes</h3>
            <div class="introduction">
                <p>The app showing all the recipes. You can add a new recipe by clicking "add recipe". </p>
            </div>
            <div class="row">
                <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn btn_small">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="collapsible">
            {% for recipe in recipe %}
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>
                    <a
                        href="{{ url_for('recipe_description',recipe_id=recipe._id)}}"><strong>{{recipe.recipe_name}}</strong></a>
                </div>
                <div class="collapsible-body"><span>
                        <p>Add by: <strong>{{recipe.user_name}}</strong></p>
                        <p>{{recipe.recipe_description}}</p>
                    </span>
                </div>
                <div class=" button-cusine">
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}"
                        class="waves-effect waves-light btn btn_small btn_style blue">Edit Recipe
                        <i class="material-icons right">edit</i></a>
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}"
                        class="waves-effect waves-light btn btn_small btn_style red">Delete Recipe
                        <i class="material-icons right">delete_forever</i>
                    </a>
                </div>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}