{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <h3>Search Recipe</h3>
        <div class="page-explainer">
            <p>Search for recipe's based on name,cuisine and ingredients.</p>
        </div>
    </div>
    <div class="row" id="search_cont">
        <form action="{{url_for('search_by_name')}}" method="POST" class="col s12">
            <div class="input-field col s8">
                <input placeholder="Placeholder" name="recipe_name" type="search" class="validate">
                <label for="Search">By name</label>
            </div>
            <div class="col-xs-4">
                <button class="btn waves-effect waves-light search-btn" type="submit">Search
                </button>
            </div>
        </form>

        <form action="{{url_for('search_cuisine', cuisine_id = cuisine._id)}}" method="POST" class="col s12">
            <div class="input-field col s8 ">
                <select name="cuisine_name">
                    <option value="" disabled selected>Choose Cuisines</option>
                    {% for cuisine in cuisine %}
                    {% if cuisine.cuisine_name == recipe.cuisine_name %}
                    <option value="{{cuisine.cuisine_name}}" selected>{{cuisine.cuisine_name}}</option>
                    {% else %}
                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Cuisine</label>
            </div>
            <div class="col-xs-4">
                <button class="btn waves-effect waves-light search-btn" type="submit">Search</button>
            </div>
        </form>


        <form action="{{url_for('search_by_ingredients')}}" method="POST" class="col s12">
            <div class="input-field col s8">
                <input placeholder="Placeholder" name="ingredients" type="search" class="validate">
                <label for="Search">By name</label>
            </div>
            <div class="col-xs-4">
                <button class="btn waves-effect waves-light search-btn" type="submit">Search
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock %}